<main>
  <section id="section-banner">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/Banner1.jpg" class="d-block w-100" alt="Banner 1">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/Banner2.jpg" class="d-block w-100" alt="Banner 2">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/Banner3.jpg" class="d-block w-100" alt="Banner 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <H2> Produtos em promoção </H2>

  <mat-grid-list cols="3">
    <mat-grid-tile>

      <mat-card class="example-card" appearance="outlined">
        <img mat-card-image src="./assets/img/Jogo1.png" alt="Jogo 1">
        <mat-card-header>
          <mat-card-title>Computador gamer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            AMD Ryzen 5 5600X. placa de vídeo NVIDIA GeForce RTX 3060 Ti, 
            placa-mãe MSI B550 TOMAHAWK, memória Corsair Vengeance LPX 16GB 
            (2x8GB) DDR4 3200MHz e HD SSD Samsung 970 EVO Plus 500GB NVMe M.2 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 3.575,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>

      <mat-card class="example-card" appearance="outlined">
        <img mat-card-image src="./assets/img/Jogo2.png" alt="Jogo 2">
        <mat-card-header>
          <mat-card-title>Super Mário</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Aproveite esta oportunidade única e adquira o clássico jogo Super Mario! 
            Mergulhe nas aventuras emocionantes do encanador mais famoso do mundo dos videogames
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 776,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>

      <mat-card class="example-card" appearance="outlined">
        <img mat-card-image src="./assets/img/Jogo3.png" alt="Jogo 3">
        <mat-card-header>
          <mat-card-title>Game box com 600 jogos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Esse console conta com hardware avançado e um sistema android que 
            permite baixar os melhores apps e jogos para começar a aproveitar!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 458,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</main>